<div class="pages-container">
  <h1>List your service!</h1>
  <%= simple_form_for(@service, html: { Pmultipart: true }) do |f| %>
    <div class="form-group ml-1 mb-5 px-5">
      <%= f.input :name, class: 'form-control' %>
      <br>
      <h2>Elige una categoría</h2>
      <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
