<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/eventlymexico"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/eventlymx/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/evently-m%C3%A9xico/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Evently
  </div>
</div>
