.btn-flat {
  font-size: 18px;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ff0000;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #bc0404;
  color: white;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
}

.btn-pry {
  background-color: #ff2b3d;
  border-radius: 4px;
  border: 1px solid #ff2b3d;
  padding: 5px 25px;
  color: white;
}

.btn-pry:hover {
  background-color: #D90416;
  color: white;
}
