.card-container {
  margin: 20px;
}

.card-product {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
}

.card-slider {
  width: 33.3333%;
}

.card-images {
  position: relative;
}

.card-images img {
  max-width: 100%;
  height: auto;
}

.card-infos {
  width: 66.6667%;
}

.card-content {
  padding: 20px;
  position: relative;
}

.card-infos-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #FF2B3D;
  display: inline-block;
  padding-right: 40px;
}

.card-price p {
  font-size: 20px;
  margin-bottom: 0px;
}

.card-infos-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #6c6c6c;
  word-break: break-word;
  margin-top: -4px;
}

.card-infos-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-content {
  font-size: 22px;
  font-weight: bolder;
}

.card-rating {
  margin-top: -10px;
  margin-bottom: 15px;
}

.checked {
  color: orange;
}

.card-categories {
    overflow: hidden;
}

.card-categories p {
  color: #6c6c6c;
  font-size: 21px;
  margin-top: -4px;
}

.btn-pry {
  background-color: #ff2b3d;
  border-radius: 4px;
  border: 1px solid #ff2b3d;
  padding: 5px 25px;
  color: white;
}

.btn-pry:hover {
  background-color: #D90416;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category a {
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
