.card-container {
  margin: 20px;
  background-color: white;
}

.card-product {
  display: flex;
  justify-content: space-between;
}

.card-slider {
  width: 33.3333%;
}

.card-images {
  position: relative;
}

.card-images img {
  max-width: 100%;
  height: auto;
}

.card-infos {
  width: 66.6667%;
}

.card-content {
  padding: 20px;
  position: relative;
}

.card-infos-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #FF2B3D;
  display: inline-block;
  padding-right: 40px;
}

.card-price p {
  font-size: 20px;
  margin-bottom: 0px;
}

.card-infos-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #6c6c6c;
  word-break: break-word;
  margin-top: -4px;
}

.card-infos-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-content {
  font-size: 22px;
  font-weight: bolder;
}

.card-rating {
  margin-top: -10px;
  margin-bottom: 15px;
}

.checked {
  color: orange;
}

.card-categories p {
  color: #6c6c6c;
  font-size: 21px;
  margin-top: -4px;
}

.btn-pry {
  background-color: #ff2b3d;
  border-radius: 4px;
  border: 1px solid #ff2b3d;
  padding: 5px 25px;
  color: white;
}

.btn-pry:hover {
  background-color: #D90416;
}
